button{
    width: 50%;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    display: block;
    }
    button:hover{
        background-color: azure;
    animation-name: changbg;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    }
    
    @keyframes changbg  {
        0% {background-color: brown;}
        10% {background-color:blueviolet;}
        20% {background-color:blue;}
        30% {background-color:blanchedalmond;}
        40% {background-color:aquamarine;}
        50% {background-color:aqua;}
        60% {background-color:antiquewhite;}
        70% {background-color:gray;}
        80% {background-color:saddlebrown;}
        90% {background-color:hotpink;}
        100% {background-color:lawngreen;}
    }

    img:hover{
        opacity: 0;
    }
    img{
        margin-top: 50px;
        transition:opacity 1s;
        width: 300px;
        height: 300px;
    
    }